<h1>Welcome to MidleMe</h1>
<p>We are here to help you Meet!</p>

<ul>
	<li>Enter your Location</li>
	<li>Add location of whom you're meeting</li>
	<li>We'll find the point in the Midle</li>
</ul>

<%= image_tag('MapLook.jpg') %>

<%= link_to 'MidleMe', midlemes_path %>
<%= link_to 'New Location', new_location_path %>

<!-- Display one marker -->
<div id="map-canvas"></div>  

<!-- Display multiple markers -->
<!-- <div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>
